* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    padding: 1.6rem;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.cabecera {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(235, 235, 235);
    border-bottom: 1px solid gray;

}

footer {
    width: 100%;
    height: 60px;
    background-color: blanchedalmond;
}

footer h3 {
    font-size: 1.2rem;
    padding: 15px;
    text-align: center;
}